<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="GeneratorKey" value="LBUTTON"/>
    <add key="BuffKey" value="VK_2"/>
    <add key="MeteorKey" value="VK_3"/>
    <add key="ArchonKey" value="VK_4"/>
    <add key="BazookaMacroKey" value="F1"/>
    <add key="StarPactMacroKey" value="F2"/>
    <add key="StarPactWaitTime" value="1250"/>
    <add key="StartChannelWaitTime" value="2"/>
    <add key="BuffWaitTime" value="200"/>
  </appSettings>
</configuration>
